@import "tailwindcss";

@theme {
    /* colours */
    --color-background: #000100;
    --color-surface: #46464f;
    --color-accent: #431723;
    --color-text: #c0c0c0;

    /* font */
    --font-sans: Yoster, monospace;
}

@font-face {
    font-family: "Yoster";
    src: url("/fonts/yoster.ttf") format("truetype");
}

body {
    @apply bg-background text-white text-center text-2xl;
}

h1 {
    @apply text-7xl text-text text-shadow-[0px_5px_0px_#431723]
}

h2 {
    @apply text-5xl text-text text-shadow-[0px_3px_0px_#431723]
}

h3 {
    @apply text-2xl text-surface
}