@import "tailwindcss";

@theme {
    --color-accent: #431723;
    --color-background: #000100;

    --color-surface: #46464f;

    --color-text-primary: #ffffff;
    --color-text-secondary: #a0a0a0;
    --color-text-muted: #707070;

    --color-border-subtle: #2a2a2a;
    --color-border-default: #404040;
    --color-border-emphasis: #606060;

    --color-game-card-background: #1a1a1a;
    --color-game-card-background-hover: #222222;

    --color-blog-card-background: #1c1c1c;
    --color-blog-card-background-hover: #242424;

    --color-nav-button: #202020;
    --color-nav-button-hover: #2a2a2a;

    --color-fullscreen-button: #8c52ff;
    --color-fullscreen-button-hover: #7a3fee;

    /* font */
    --font-sans: Scientifica, monospace;
}

@font-face {
    font-family: "Scientifica";
    src: url("/fonts/yoster.ttf") format("truetype");
}

body {
    @apply bg-background text-white text-center text-2xl;
}

.prose h1 {
    @apply text-3xl font-bold
}

.prose h2 {
    @apply text-2xl font-bold
}
