---
import Welcome from '../components/Welcome.astro';
import ProjectsCard from '../components/ProjectsCard.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <Welcome />

    <div class="flex justify-center">
        <!-- cards -->
        <ProjectsCard />
    </div>
</Layout>
