---
import Welcome from '../components/Welcome.astro';
import ProjectsLink from '../components/ProjectsLink.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <Welcome />

    <div class="flex justify-center">
        <ProjectsLink />
    </div>
</Layout>
