---
import Welcome from '../components/Welcome.astro';
import Card from '../components/Card.astro';
import games from '../data/games.json';
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <h1 class="m-4">The Wizards Projects</h1>

    {games.map(game => (
        <Card name={game.name} description={game.description} />
    ))}
</Layout>
