---
import Welcome from '../components/Welcome.astro';
import Card from '../components/Card.astro';
import games from '../data/games.json';
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <h1 class="m-8"><a href="/">The Wizard's Projects</a></h1>

    <div class="leading-relaxed grid grid-cols-2 gap-4">
        {games.map(game => (
            <Card name={game.name} description={game.description} />
        ))}
    </div>
</Layout>
