---
import Welcome from '../components/Welcome.astro';
import Card from '../components/Card.astro';
import tutorials from '../data/tutorials.json';
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <h1 class="m-8"><a href="/">The Wizard's Tutorials</a></h1>

    <div class="leading-relaxed grid grid-cols-2 gap-4">
        {tutorials.map(tutorial => (
            <Card name={tutorial.name} description={tutorial.description} />
        ))}
    </div>
</Layout>
