<div class="flex items-center border-surface">
    <img src="/images/wizard.png" class="w-100 h-100 [image-rendering:pixelated]" />
    <a href="/projects" class="mr-35 p-1 text-8xl font-bold [text-shadow:0px_6px_0px_#431723] border-b-5 border-accent">
        His Projects
    </a>
</div>
