<div class="flex items-center border-surface">
    <a href="/tutorials" class="ml-10 p-1 text-8xl font-bold [text-shadow:0px_6px_0px_#431723] border-b-5 border-accent">
        His Tutorials
    </a>
    <img src="/images/little-gremlin.png" class="w-100 h-100 [image-rendering:pixelated]" />
</div>
